<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header.html :: copy"></div>
</head>
<body>
<style>
    img {
        width: 60%;
        height: auto;
    }
</style>
<div class="center">
    <img src="static/images/4.png">
</div>

<div th:replace="navbar.html :: copy"></div>

<div class="container">
    <div class="list-group">
        <th:block th:each="topic : ${topics}">
            <a th:href="@{/topics(id=${topic.getId()})}"
               th:text="${topic.getName()}"
               class="list-group-item list-group-item-action disabled">Topic name</a>
        </th:block>
    </div>

</div>

<div class="list-group">
    <th:block th:each="question : ${searched_questions}">
        <a th:href="@{/questions(id=${question.getId()})}"
           th:text="${question.getTitle()}"
           class="list-group-item list-group-item-action disabled">Question title</a>
    </th:block>
</div>
</body>
</html>
