<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header.html :: copy"></div>
</head>
<body>
<h1>TeamMate</h1>

<div class="container">
    <h2 th:text="${question.getTitle()}">Question title</h2>

    <div class="form-group">
        <form action="/questions" method="post">
            <input type="hidden" th:value="${question}" th:name="question">
            <label for="comment">Answer:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
            <button>Submit</button>
        </form>

    </div>

</div>
</body>
</html>