<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header.html :: copy"></div>
</head>
<body>
<style>
    img {
        width: 60%;
        height: auto;
    }
</style>
<div class="center">
    <img src="static/images/4.png">
</div>

<div th:replace="navbar.html :: copy"></div>

<div class="container">
    <div class="list-group" th:if="${searched_questions} == null">
        <th:block th:each="topic : ${topics}">
            <a th:href="@{/topics/{id}(id=${topic.getId()})}"
               th:text="${topic.getName()}"
               class="list-group-item list-group-item-action">Topic name</a>
        </th:block>
    </div>

    <th:block th:if="${searched_questions} != null">
        <h2 th:inline="text">Searched words: "[[${searched_string}]]"</h2>

        <th:block th:each="topic : ${topics}">
            <div class="well well-sm">
                <a th:href="@{/topics/{id}(id=${topic.getId()})}">
                    <strong th:text="${topic.getName()}">Topic Name</strong>
                </a>
            </div>

            <div class="list-group">
                <th:block th:each="question : ${searched_questions}">
                    <a th:href="@{/questions/{id}(id=${question.getId()})}"
                       th:if="${question.getTopic()} == ${topic}"
                       th:text="${question.getTitle()}"
                       class="list-group-item list-group-item-action">Question title</a>
                </th:block>
            </div>
        </th:block>
    </th:block>
</div>
</body>
</html>
