<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header.html :: copy"></div>
</head>
<body>

<div th:replace="navbar.html :: copy"></div>

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a th:text="${question.getTopic().getName()}" th:href="@{/topics/{id}(id=${question.getTopic().getId()})}">Topic name</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a th:text="${question.getTitle()}" th:href="@{/questions/{id}(id=${question.getId()})}">Question name</a></li>
        </ol>
    </nav>

    <h2 th:text="${question.getTitle()}">Question title</h2>

    <div class="content" th:if="${answer} != null" th:utext="${answer.getDescription()}"></div>
    <th:block th:each="review : ${reviews}">
        <p th:text="${review.getDescription()}"
           class="list-group-item list-group-item-action">Review description</p>
    </th:block>

    <a th:href="@{/questions/{id}/edit(id=${question.getId()})}" class="btn btn-primary" role="button">Edit answer</a>
    <a th:href="@{/questions/{id}/review(id=${question.getId()})}" class="btn btn-primary" role="button">Add review</a>

</div>
</body>
</html>